.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  padding: 0;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.btn-sign-up{
  margin: 10px;
  background-color: #3c3d3e;
  color: white;
  border-radius: 10px;
  &:hover{
    background-color: black;
  }
 }
.btn-login{
  border-radius: 10px;
  border: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
video{
bottom:0;
  width: 100vw;
padding: none;
position: fixed
}

.app-container{
  .header{

    .navbar{
      z-index: 1;
    }
    
    .nav-link{
      &.active{
        color: #61dafb !important;

      }
    }
  }
}
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1400px !important;
  }
}

.text1{
  width: 850px;
  margin-left: 10px;
  padding: 100px 100px;
  z-index: 2;
position: relative;

}
.text2{
  position: relative;

}
.title-2{
  margin: 50px 0px;
  font-size: 22px

}